body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.grid {
    padding: 50px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#gameBoard {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.square {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: green;
    border: 2px solid black;
    font-size: larger;
    text-align: center;
} 




